<div class="product-details shadow-lg pt-3">
    <div class="row my-4">
        <div *ngIf="product.ProductId" class="col-sm-7">
            <div class="product-image">
                <div class="bg-image ripple">
                    <img *ngIf="product.ImagePath" [src]="apiBaseUrl + product.ImagePath"
                        class="d-block w-100 rounded-3" alt="{{ product.Name }}">
                </div>
            </div>

        </div>

        <div class="col-sm-5 p-4 text-center">
            <div>
                <h1>{{ product.Name }}</h1>
                <h2>{{ product.CategoryName }}</h2>
            </div>
            <br />

            <div class="text-center">
                <h2 class="w-75 mx-auto"> <span class="mobile">Cena:</span> {{
                    product.Price }} zł</h2>
            </div>
            <br />
            <div class="availability">
                <ng-container *ngIf="product?.AmountAvailable === 0">
                    <div class="row outOfOrder">
                        <div class="col-9">
                            <h3>Sprzedany</h3>
                        </div>
                        <div class="col-3">
                            <img src="assets/images/outOfOrder.png" style="max-width: 40px">
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="product.AmountAvailable > 0 && product.AmountAvailable < 10">
                    <div class="row smallAmount">
                        <div class="col-9">
                            <h3>Ograniczona ilość</h3>
                        </div>
                        <div class="col-3">
                            <img src="assets/images/smallAmount.png" style="max-width: 40px">
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="product.AmountAvailable >= 10">
                    <div class="row available">
                        <div class="col-9">
                            <h3>Produkt dostępny!</h3>
                        </div>
                        <div class="col-3">
                            <img src="assets/images/available.png" style="max-width: 40px">
                        </div>
                    </div>
                </ng-container>
            </div>
            <br />
            <hr />
            <div>
                <div>
                    <button mat-raised-button type="submit" class="mb-3 addToCartButton w-100" (click)="onAddToCart()">
                        <i class="bi bi-cart-plus"></i> Dodaj do koszyka
                    </button>
                </div>
                <div>
                    <h3>Lub zadzwoń i zamów pod nr tel:</h3>
                    <h2>+48 111 222 333</h2>
                </div>
                <div *ngIf="authService.isLoggedIn() && authService.isAdmin()">
                    <a mat-raised-button color="warn" [routerLink]="['/update', product.ProductId]"
                        class="mt-2 w-100"><i class="bi bi-pen"></i> EDYTUJ</a>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div *ngIf="product" class="description py-3 text-start" [innerHTML]="product.Description">
    </div>
    <hr>

</div>