<div class="text-white text-center bg-black">
    <div class="row pt-4">
        <div class="col-md-3 col-sm-6">
            <h5>Przedmiot:</h5>
            <ul class="list-unstyled">
                <li>Języki Programowania</li>
                <li>JavaScript</li>
                <li>Prowadząca: mgr inż. Marta Zażlak</li>
                <li>Informatyka niestacjonarne 2024</li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6">
            <ul class="list-unstyled">
                <li><a mat-raised-button routerLink="/privacyPolicy" class="w-75 mb-3" >Polityka prywatności</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6">
            <h5>Autorzy Projektu:</h5>
            <ul class="list-unstyled">
                <li>Anna Sroka</li>
                <li>Barbara Sławińska</li>
                <li>Justyna Szofińska</li>
                <li>Paweł Staniul</li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6">
            <h5>Media społecznościowe</h5>
            <a href="https://www.facebook.com/profile.php?id=100001616692797" class="text-white me-3 btn btn-lg"><i
                    class="bi bi-facebook"></i></a>
            <a href="#" class="text-white btn btn-lg"><i class="bi bi-instagram"></i></a>
        </div>
    </div>
    <div class="text-center mt-4" style="font-size: 9px;">
        <p>Copyright &copy; 2024 Anna Sroka, Barbara Sławińska, Justyna Szofińska, Paweł Staniul. All rights reserved.</p>
    </div>
</div>